@use "../../styles/variables.scss" as *;

.answer-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer-textarea {
  font-size: 1rem;
  padding: 1rem;
  border-radius: $border-radius;
  border: 1px solid #ccc;
  resize: vertical;
  margin-top: 1rem;
}
